<div>
<div class="text-right m-4">
  <!-- <button class="btn btn-back text-light  p-1" (click)="back()"><i class="fa fa-undo m-2" aria-hidden="true"></i>Back to Dashboard</button> -->
 </div>
 
  <table class="table table-striped " >
     <thead>
     <tr>
       <th scope="col">Name</th>
       <th scope="col">Email-id</th>
       <th scope="col">Mobile</th>
       <th scope="col">District</th>
       <th scope="col">Municipality</th>
       <th scope="col">Address</th>
       <!-- <th scope="col">block</th> -->
     </tr>
     </thead>
     <tbody>
     <tr *ngFor="let country of candinatedata| paginate: { itemsPerPage: 5, currentPage: p }; index as i">
       <td>
         {{ country.full_name }}
       </td>
       <td>
         {{ country.email_id }}
       </td>
       
       <td>
         {{ country.mobile_number }}
       </td>
       <td>
        {{ country.district }}
      </td>
      <td>
        {{ country.municipality }}
      </td>
      <td>
        {{ country.address }}
      </td>
       <td>
        <!-- <button *ngIf="country.is_blocked==0" (click)="block(country._id,country.is_blocked)" class="btn btn-outline-primary">Block</button> -->
        <!-- <button *ngIf="country.is_blocked==1" (click)="block(country._id,country.is_blocked)" class="btn btn-outline-primary">UNBlock</button> -->
      </td>
     </tr>
     </tbody>
   </table>
   <pagination-controls (pageChange)="p = $event"></pagination-controls>
 </div>